<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student Detail page </h1>
    <table border>
        <tr>

            <td>{{stu.id}}</td>
            <td>{{stu.name}}</td>
            <td>{{stu.roll}}</td>
            <td>{{stu.course}}</td>
        </tr>
    </table>

    <table border>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Roll</th>
          <th>Course</th>
        </tr>
  
        {% for student in students %}
        <tr>
          <td><a href="{% url 'student' student.id %}">{{student.id}}</a> </td>
          <td> <a href="{% url 'student' student.id %}">{{student.name}} </a> </td>
          <td>{{student.roll}}</td>
          <td>{{student.course}}</td>
        </tr>
        {% endfor %}
      </table>
    
</body>
</html>