<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Home page</h2>

    <table border="1px solid">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Roll</th>
        <th>City</th>
        <th>Marks</th>
        <th>Pass Date</th>
      </tr>

      {% for student in students %}
      <tr>
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.roll}}</td>
        <td>{{student.city}}</td>
        <td>{{student.marks}}</td>
        <td>{{student.pass_date}}</td>
      </tr>
      {% endfor %}
    </table>
    <br><hr><br>
    <h2>single object </h2>
    <table border="1px solid">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Roll</th>
        <th>City</th>
        <th>Marks</th>
        <th>Pass Date</th>
      </tr>

      <tr>
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.roll}}</td>
        <td>{{student.city}}</td>
        <td>{{student.marks}}</td>
        <td>{{student.pass_date}}</td>
      </tr>
    </table>
  </body>
</html>
